<%= form_for(@company) do |f| %>
  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
        <% @company.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <h2 class="page-header"> Société </h2>
  <div class="jumbotron">
    <div class="field">
      <%= f.label :Nom, class:"col-sm-2"  %>
      <%= f.text_field :name, placeholder:"Nom", class:"col-md-4"  %>
    </div><br/></br>
    <div class="field">
      <%= f.label :Web, class:"col-sm-2"  %>
      <%= f.text_field :website, placeholder:"site web", class:"col-md-4"   %>
    </div><br/></br>
    <h4> Coordonnées </h4>
    <div class="field">
      <%= f.label :Téléphone, class:"col-sm-2"  %>
      <%= f.text_field :phone, placeholder:"Téléphone", class:"col-md-4"   %>
    </div><br/></br>
    <div class="field">
      <%= f.label :Fax, class:"col-sm-2"  %>
      <%= f.text_field :fax, placeholder:"fax", class:"col-md-4"   %>
    </div><br/>
    <div class="field">
      <%= f.label :Email, class:"col-sm-2"  %>
      <%= f.text_field :email, placeholder:"Email", class:"col-md-4"   %>
    </div><br/>
    <div class="field">
      <%= f.label :Adresse, class:"col-sm-2"  %>
      <%= f.text_area :address, placeholder:"Adresse", class:"col-md-4"   %>
    </div><br/></br>
  </div>

  <h2 class="page-header"> Contacts </h2>
  <div class="jumbotron" >
    <h4> Assigner contact existant </h4>
      <%= f.select :contact_id,  options_for_select(Contact.all.map{|c|["#{c.lname} #{c.fname}", c.id]}), include_blank: true %>
    <h4> Créer un contact </h4>
    Vous pouvez ajouter plus d'informations une fois le contact créé dans le menu "Modifier" du contact</br>
    <div class="field">
      <div class="row">
        <%= f.label :Nom, class:"col-sm-2" %>
        <%= f.text_field :c_lname, placeholder:"Nom", class:"col-md-4"  %>
      </div>
    </div>
    <div class="field">
      <div class="row">
        <%= f.label :Prénom, class:"col-sm-2" %>
        <%= f.text_field :c_fname, placeholder:"Prénom", class:"col-md-4"  %>
      </div>
    </div>
    <div class="field">
      <div class="row">
        <%= f.label :Email, class:"col-sm-2" %>
        <%= f.text_field :c_email, placeholder:"Email", class:"col-md-4"  %>
      </div>
    </div>
  </div>
    </br></br>
    <div class="actions">
      <div class="col-md-offset-3 col-md-8">
        <div class="btn-group btn-group-justified" role="group">
          <div class="btn-group" role="group">
            <%= f.submit "Enregistrer", class:"btn btn-primary btn-md" %>
          </div>
          <div class="btn-group" role="group">
            <%= link_to 'Retour', companies_path , class:"btn btn-default btn-md"%>
          </div>
        </div>
      </div>
    </div>
    </br></br></br>
  <% end %>
