<p id="notice"><%= notice %></p>

<div class="page-header">
  <h1>Fiche Entreprise: <%= @company.name %></h1>
</div>

<div class="jumbotron">
<div class="row">
  <label class="col-sm-2" >Site Web<label>
  <%= @company.website %>
</div>

<div class="row">
  <label class="col-sm-2" >Téléphone</label>
  <%= @company.phone %>
</div>

<div class="row">
  <label class="col-sm-2" >Fax</label>
  <%= @company.fax %>
</div>

<div class="row">
  <label class="col-sm-2" >E-mail</label>
  <%= @company.email %>
</div>
</br></br>
<div class="col-sm-offset-2 col-sm-10">
  <%= link_to 'Modifier', edit_company_path(@company), class:"btn btn-default btn-md" %> 
  <%= link_to 'Retour', companies_path, class:"btn btn-default btn-md" %>
</div>
</div>
