<%= form_for(@assignment, url: set_ref_path(@facture, @assignment), html: { method: :post }) do |f| %>
  <% if @assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@assignment.errors.count, "error") %> prohibited this facture from being saved:</h2>

      <ul>
        <% @assignment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-sm-offset-1 col-sm-10">
      <%= f.select :ref_id, options_for_select(Ref.all.map{|r|["#{r.name}/#{r.desc}", r.id]}), include_blank: true %>
      <%= f.submit "Ajouter", class:"btn btn-primary btn-sm" %>
    </div>
  </div

<% end %>

