<%= form_for(@facture) do |f| %>
  <% if @facture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@facture.errors.count, "error") %> prohibited this facture from being saved:</h2>

      <ul>
      <% @facture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-6">
      <h3>Emetteur</h3><br/>
      <div class="row">
        <%= f.label :Contact, class:"col-md-3" %>
        <%= f.text_area :emetteur, class:"col-md-6" %>
      </div>
      <h3>Objet</h3></br>
      <div class="row">
        <%= f.label :intitulé, class:"col-md-3" %>
        <%= f.text_field :objet, class:"col-md-6" %>
      </div>
      <br/></br>
    </div>
    <div class="col-md-6">
      <h3>Destinataire</h3></br>
      <h4>Dans le cas d'une société</h4>
      <div class="row">
        <%= f.label :Société, class:"col-md-2" %>
        <%= f.select :comp_name, Company.all.collect {|c| c.name}, class:"form-control", include_blank: true %>
      </div><br/>
      <h4>Dans le cas d'un particulier</h4>
      <div class="row">
        <%= f.label :Nom, class:"col-md-2" %>
        <%= f.select :lname, Contact.all.collect {|c| "#{c.lname} #{c.fname}"}, class:"form-control", include_blank: true %>
      </div>
    </div>
  </div><br/><br/>
   <div class="actions">
      <div class="col-md-offset-3 col-md-8">
        <div class="btn-group btn-group-justified" role="group">
          <div class="btn-group" role="group">
            <%= f.submit "Enregistrer", class:"btn btn-primary btn-md" %>
          </div>
          <div class="btn-group" role="group">
            <%= link_to 'Retour', factures_path , class:"btn btn-default btn-md"%>
          </div>
        </div>
      </div>
    </div><% end %>
