<%= form_for(@assignment) do |f| %>
  <% if @assignement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@assignment.errors.count, "error") %> prohibited this facture from being saved:</h2>

      <ul>
        <% @assignment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<%= f.select :ref_name, Ref.all.collect {|r| r.name}, class:"form-control", include_blank: true  %>

<div class="actions">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit "Ajouter", class:"btn btn-primary btn-sm" %> 
      <%= link_to 'Annuler', "factures#addRef" , class:"btn btn-default btn-sm"%>
    </div>
  </div>
<% end %>

