<div class="page-header">
  <h1>Facture: <%= @facture.id %></h1>
</div>

<div class="jumbotron">
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <label class="col-md-4" >Statut</label>
        <%= @facture.status %>
      </div>

      <div class="row">
        <label class="col-md-4" >Emetteur</label>
        <%= @facture.emetteur %>
      </div>

      <div class="row">
        <label class="col-md-4">Client</label>
        <%= @facture.set_dest %>
      </div>

      <div class="row">
        <label class="col-md-4">Objet</label>
        <%= @facture.objet %>
      </div>
    </div>
    <div class="col-md-4">
      <%= link_to "Modifier", edit_facture_path(@facture), class: "btn btn-primary btn-md" %>
    </div>
  </div>
</div>
<br/><br/>

<h1>Références</h1>

<div class="jumbotron">
  <%= render 'form1' %>
</br>
<table class="table">
  <thead>
    <tr>
      <th>id</th>
      <th>Reference</th>
      <th>description</th>
      <th>Prix Unitaire HT</th>
      <th>TVA</th>
      <th>Quantité</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @facture.ref_array.each do |ref| %>
      <tr>
        <td><%= ref[0].id %></td>
        <td><%= ref[0].name %></td>
        <td><%= ref[0].desc %></td>
        <td><%= ref[0].pu_ht %></td>
        <td><%= ref[0].tva %></td>
        <td><%= ref[1] %></td>
        <td>
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Plus
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <li><%= link_to 'Voir', ref[0] %></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to 'Supprimer' %></li>
            </ul>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</br></br></br>
<div class="action">
  <%= link_to "Générer PDF", create_pdf_path(@facture, format: 'pdf') , :target => "_blank",  class:"btn btn-primary btn-lg active" %>
</div>
</div>
