<div class="page-header">
  <h1>Facture: <%= @facture.id %></h1>
</div>

<div class="row">
  <label class="col-sm-2" >Statut</label>
  <p><%= @facture.status %></p>
</div>

<div class="row">
  <label class="col-sm-2">Client</label>
  <p><%= @facture.set_dest %></p>
</div>

<div class="row">
  <label class="col-sm-2">objet</label>
  <p><%= @facture.objet %></p>
</div>
<br/><br/>

  <h1>Références</h1>

<table class="table">
  <thead>
    <tr>
      <th>id</th>
       <th>Reference</th>
      <th>description</th>
      <th>Prix Unitaire HT</th>
      <th>TVA</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
</br></br>
  <%= render 'form1' %>
