<!DOCTYPE html>
<html>
  <head>
    <title>Facturation</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <ul class="nav navbar-nav">
          <ul class="navbar-brand">ToolsExample</ul>
          <li><a href=<%= dashboards_path %>>Dashboard</a></li>
          <li><a href=<%= factures_path %>>Factures</a></li>
          <li><a href=<%= refs_path %>>Références</a></li>
          <li class="dropdown">
            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Clients <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href=<%= companies_path %>>Entreprises</a></li>
              <li role="separator" class="divider"></li>
              <li><a href=<%= contacts_path %>>Contacts</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
    <br><br><br>
    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
