<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>


<body>
  <nav class="navbar navbar-inverse" role="navigation">
    <ul class="nav navbar-nav">
      <li><a href=<%= root_path %>>Home</a></li>
      <li><a href=<%=  %>>About</a></li>
    </ul>
  </nav>
 <div class="background_img">
  <br><br><br>
   <%= yield %>
 </div>
<body>
</div>
</html>
